#muzica {
  position: absolute;
  left: 380px;
  top: 235%;
  padding: 0 20px;
  width: 35%;
  text-align: center;
}

#nombre{
  border: 3px solid rgb(9, 16, 34);
  background:rgb(0, 26, 255) ;
}

#letras{
  -webkit-text-fill-color: rgb(73, 0, 141);
  text-shadow: rgb(226, 1, 45);
  -webkit-text-stroke: rgb(250, 33, 33);
  -webkit-text-stroke-width: 4px;
}

#logo {
  position: absolute;
  left: 730px;
  top: 20%;
  padding: 0 20px;
  text-align: center;
}

#displayLogo {
    position: absolute;
    width: 150vh;
    height: 140vh;
    padding: 0 20px;
  animation: creative 10s ease-out infinite;
	background: url("https://cdn.discordapp.com/attachments/848796831622234113/879612487840985138/havana.png") no-repeat;
}