# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#set mysql_debug "Console"

#Resources
#stop monitor
stop webadmin
ensure spawnmanager
ensure sessionmanager
ensure mapmanager
ensure fivem
ensure yarn
ensure chat

ensure vrp
ensure mysql
ensure ghmattimysql
ensure mysql-async

###INTERIOR ##
ensure marabuntaint

### ADDONS ###
ensure creativeClothes
ensure creativeMaps
ensure creativeHouses
ensure creativeVehs
ensure HavanaMaps
ensure havanaVehs
ensure celularnovo
ensure vehtest

###MAPAS###
ensure ballerautoshop
ensure brofx_06
ensure brofx7
ensure whitepd
ensure mojito
ensure np-driftschool
ensure np-gallery
ensure np-lmansion
ensure gta_props_fivem
ensure np-pillbox
ensure lynxfix_malibumansion
ensure HavanaMaps

###Cassino##
ensure casino_base
ensure casino_blackjack
ensure casino_insidetrack
ensure casino_npc
ensure casino_poker
ensure casino_roleta
ensure casino_slots
ensure casino_sorte
ensure InteractSound
ensure t-notify

ensure spawn
ensure smartphone

##MISC##
ensure vehcontrol
ensure PolyZone
ensure logsystem
ensure tokovoip_script
ensure combo_rotas
ensure mito_autoreparo
ensure onecreative
ensure core_devtools
ensure helicam
ensure xsound
ensure alta_carmusic
ensure alta_dj
ensure vrp_notepad
ensure desmanche
ensure mf-drugfx
ensure york_vangelic
ensure york_cocaina
ensure york_lean
ensure york_maconha
ensure york_meta
ensure york_ecstasy
ensure york_municao2
ensure york_municao

##VRP##
ensure vehmenu
ensure creative
ensure tablet
ensure circuits
ensure doors
ensure hud
ensure notify
ensure notifycall
ensure notifyitens
ensure showids
ensure garages
ensure inventory
ensure itemdamage
ensure crafting
ensure admin
ensure animacoes
ensure atm
ensure bank
ensure hoverfy
ensure player
ensure survival
ensure checkin
ensure shops
ensure dynamic
ensure character
ensure barbershop
ensure skinshop
ensure benefactor
ensure blipsystem
ensure chest
ensure dna
ensure engine
ensure homes
ensure hospital
ensure inspect
ensure login
ensure notepad
ensure prison
ensure radio
ensure rope
ensure safelocker
ensure sounds
ensure tackle
ensure taskbar
ensure tencode
ensure trunkchest
ensure yellowpages
ensure target
ensure dpclothing-master

##JOBS##
ensure foodfarm
ensure cashmachine
ensure dismantle
ensure driver
ensure garbageman
ensure miner
ensure lavagem
ensure harvest
ensure hunting
ensure impound
ensure lumberman
ensure products
ensure robberys
ensure stockade
ensure towdriver
ensure transporter
ensure tattoos
ensure trucker
ensure airforce

##Nation##
ensure nation_bennys
ensure nation_garages
ensure nation_concessionaria

##York##
ensure weplants

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:


# A valid locale identifier for your server's primary language.

# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"


# - sets tags "roleplay, military, tanks"
sets tags "imersao, whitelist aberta,brasil,havanacity,havanarp,roleplay,lgbt,emprego,ilegal,tokovoip,roleplay,portuguese,brazil,ballas,vagos,groove, faccoes disponiveis,whitelist,vrp,american roleplay"

sets Discord "https://discord.gg/ZVgaWEM8Xf"

# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "pt-BR"

# Set your server's hostname
sv_hostname "Havana City - www.havanacity.com.br"

sets sv_projectName "Havana - Season 1"

sets sv_projectDesc "Havana PT-BR -AMERICAN ROLEPLAY - Gueto - Imersão"

sets base "Havana City"

# Nested configs!
#exec resources/resources.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon server.png

# convars which can be used in scripts
set temp_convar "RP AMERICANO!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 "Havana City"

# A boolean variable that, if true, hides player IP addresses from public reports output by the server.
sv_endpointprivacy true

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow qu
add_principal identifier.steam:110000112871ca1 group.admin

# enable OneSync (required for server-side state awareness)
#set onesync on

# Force build
#set sv_enforceGameBuild 2189

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 128
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creative"
# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "8CE58ADA8EF3B89A9FCFB65C355195B6"

# License key for your server 
sv_licenseKey cfxk_KwHCKqkZ8DyverHKeXKe_3Mf66k