html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#listagem {
	bottom: 3%;
	right: 2%;
	display: none;
	font-size: 13px;
	position: absolute;
	font-family: arial;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
	color: rgba(255,255,255,0.5);
}